*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "SFProDisplay", sans-serif;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

picture {
    margin: 0;
    padding: 0;
}

button,
a {
    color: currentColor;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    text-decoration: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
}